body{
    font-family: Arial, sans-serif;
    background:#f5f7f8;
    margin:0;
    padding:0;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:20px;
}

.header{
    background:white;
    text-align:center;
    padding:30px;
    border-radius:12px;
    margin-top:20px;
}

.logo{
    max-width:300px;
}

.title{
    color:#8BC53F;
    font-size:32px;
    font-weight:bold;
}

.subtitle{
    color:#666;
}

.card{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:12px;
}

.card h2{
    color:#8BC53F;
}

input[type=text],
input[type=email],
input[type=number]{

    width:100%;
    padding:12px;
    margin-top:10px;
    margin-bottom:10px;

    border:1px solid #ddd;
    border-radius:8px;

    box-sizing:border-box;
}

label{
    display:block;
    margin-bottom:10px;
}

.total-card{
    text-align:center;

    .zalo-btn{

display:inline-block;

background:#8BC53F;

color:white;

padding:15px 30px;

border-radius:8px;

text-decoration:none;

font-weight:bold;

margin-top:20px;

}

.zalo-btn:hover{

opacity:0.9;

}

#submitBtn{

background:#8BC53F;

color:white;

border:none;

padding:15px 30px;

font-size:18px;

border-radius:8px;

cursor:pointer;

}
}

#total{
    color:#8BC53F;
    font-size:40px;
}
